DATABASE_URL=postgresql+asyncpg://user:password@host:port/name
DATABASE_URL_SYNC=postgresql+psycopg2://user:password@host:port/name

BOT_TOKEN=tg_bot_token

MEDIA_DIR=dir

PROXY_TG_URL=http://user:password@host:port
PROXY_AI_URL=http://user:password@host:port